p, h1, h2, h3, .order-implementation-rates-21vcrm {
    font-family: "Montserrat", sans-serif;
}
.check-mark-rates-21vcrm {
    width: 30px;
}
.cross-rates-21vcrm {
    width: 15px;
}
.conteiner-name-rates-21vcrm {
    background-color: #ebeff2;
    margin: 8px;
    padding: 10px;
    border-radius: 15px;
    height: 5250px;
}
.mini-conteiner-name-rates-21vcrm, .h1-rates-21vcrm {
    text-align: center;
}
.conteiner-name-main-rates-21vcrm {
    display: flex;
    align-items: center;
    justify-content: center;
}
.element-rates-21vcrm {
    display: flex;
}
.img-rates-21vcrm{
    width: 40px;
    height: 40px;
    margin-left: auto;
    margin-top: 5px;
    margin-right: 10px;
}
.margin-left-rates-21vcrm {
    margin-left: auto;

}
.margin-top-rates-21vcrm {
    margin-bottom: 10px;
}
p {
    margin-bottom: -3px;
}
.empty-img-rates-21vcrm {
    visibility: hidden;
}
.element-title-rates-21vcrm {
    display: flex;
    align-items: center;
    justify-content: center;
}
.mini-conteiner-name-rates-21vcrm {
    position: sticky;
    top: 0;
    padding-bottom: 15px;
    border-bottom: 1px solid;
    background-color: rgba(48, 213, 200, 1);
    padding-top: 5px;
    border-radius: 10px;
}
.support-rates-21vcrm {
    margin-top: 1290px;
}
.p-title-rates-21vcrm, .order-implementation-rates-21vcrm {
    font-weight: bold;
}
.p-title-rates-21vcrm {
    margin-top: 10px;
    background-color: rgb(255, 251, 251);
    border-radius: 40px;
    padding-left: 30px;
    padding-bottom: 5px;
}
.img-minus-rates-21vcrm {
    width: 20px; 
    height: 20px;
    margin-left: auto;
    margin-right: 10px;
    margin-top: 20px
}
.img-batary-rates-21vcrm {
    width: 40px;
    height: 40px;
    margin-left: auto;
    margin-top: 5px;
    margin-right: 10px;
}
.img-gal-rates-21vcrm {
    width: 40px;
    height: 40px;
    margin-left: auto;
    margin-top: 5px;
    margin-right: 10px;
}
.special-element {
    padding-bottom: 15px;
}
.special-batary {
    margin-top: 15px;
}
